html, body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  --colorBlack: #000;
  --colorBackground: #F2F2F2;
  --colorBlue1: #EFF6F8;
  --colorBlue2: #DEEAEE;
  --colorBlue3: #157A9F;
  --colorBlue4: #1A6B88;
  --colorBlue5: #17617C;
  --colorGrey0: #F8F8F8;
  --colorGrey1: #F2F2F2;
  --colorGrey2: #ECECEC;
  --colorGrey4: #999999;
  --colorGrey5: #444444;
  --colorGrey6: #3A3A3A;
  --colorGrey7: #2F2F2F;
  --colorTurkese1: #D7E7E7;
  --colorTurkese2: #CDE0E0;
  --colorTurkese4: #95BCC3;
  background-color: var(--colorBackground);
}
body {
  font: caption;
  background-color: var(--colorBackground);
  --timeCleanupUnfold: 0.22s;
  --timeCleanupFold: 0.22s;
}
div#content {
  background-color: var(--colorBackground);
  height: 100%;
  overflow: hidden;
  width: 100%;
}
ul#bookmarklist {
  display: block;
  height: 100vh;
  width: calc(100% + 30px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--colorBackground);
  margin: 24px 0 0 0;
  padding: 0 0 0 0;
  scroll-behavior: smooth;
}
li.bookmark:last-child {
  margin-bottom: 63px;
}
li.bookmark:first-child {
  margin-top: 0px;
}
li.bookmark {
  border-bottom: 1px solid var(--colorGrey2);
  height: 38px;
  margin: 0;
  padding: 0;
  background-color: var(--colorGrey1);
  list-style: none;
  line-height: 38px;
  font-size: 12px;
  display: flex;
  position: relative;
  z-index: 2;
}
li.bookmark:hover {
  background-color: var(--colorGrey0);
}
li.bookmark:active {
  background-color: var(--colorGrey0);
}
ul#bookmarklist.adding li.bookmark {
  animation-duration: 0.28s;
  animation-name: slidein;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}
@keyframes slidein {
  from {
    transform: translateY(-39px);
  }
  to {
    transform: translateY(0px);
  }
}
ul#bookmarklist.foldup li.bookmark {
  transition: transform 0.38s ease-in-out;
  transition-delay: 0.28s;
  transform: translateY(38px);
  z-index: 1;
}
ul#bookmarklist.foldup li.bookmark.beingdeleted ~ li.bookmark {
  transition: none;
  transform: none;
}
ul#bookmarklist:not(.foldup) li.bookmark.beingdeleted, li.bookmark.beingdeleted ~ li.bookmark {
  transition: transform 0.38s ease-in-out;
  transition-delay: 0.28s;
  transform: translateY(-38px);
  z-index: 1;
}
li.bookmark:last-child.beingdeleted {
  border-bottom: none;
}
li.bookmark.beingdeleted .deletebutton {
  opacity: 0;
  transition: opacity 0.08s linear;
  transition-delay: 0;
}
li.bookmark.beingdeleted a.link {
  opacity: 0;
  transition: opacity 0.08s linear;
  transition-delay: 0;
}
a.link {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 8px;
  padding-right: 44px;
  text-decoration: none;
  z-index: 0;
}
a.link, a.link:visited {
  color: var(--colorGrey5);
}
.bookmark > a.link:hover {
  color: var(--colorGrey5);
}
.bookmark > a.link:active {
  color: var(--colorBlack);
}
.bookmark.shaking {
  animation: shake 0.42s linear;
  z-index: 3;
}
@keyframes shake {
  8%, 41% {
      transform: translateY(-1px);
  }
  25%, 58% {
      transform: translateY(2px);
  }
  75% {
      transform: translateY(-1px);
  }
  92% {
      transform: translateY(1px);
  }
  0%, 100% {
      transform: translateY(0);
  }
}
#content.cleanupmode #selectallornonebutton.shaking, 
#addbookmark.shaking {
  animation: paddingrightshake 0.42s linear;
  animation-delay: 0;
}
@keyframes paddingrightshake {
  8%, 41% {
    transform: translateX(0px);
  }
  25%, 58% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-1px);
  }
  92% {
    transform: translateX(1px);
  }
  0%, 100% {
    padding-right: 0px;
  }
}
#content.cleanupmode #cleanupcounter.shaking {
  animation: paddingleftshake 0.42s linear;
  animation-delay: 0;
}
@keyframes paddingleftshake {
  8%, 41% {
    padding-left: 0px;
  }
  25%, 58% {
    padding-left: 4px;
  }
  75% {
    padding-left: 0px;
  }
  92% {
    padding-left: 2px;
  }
  0%, 100% {
    padding-left: 0px;
  }
}
button.deletebutton {
  z-index: 1;
  display: block;
  position: absolute;
  width: 21px;
  height: 21px;
  right: 20px;
  top: 8px;
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 21px;
  text-align: center;
  text-decoration: none;
  color: var(--colorGrey5);
  background: no-repeat center url("delete_bookmark.svg");
}
button.deletebutton, button.deletebutton:visited {
  color: var(--colorGrey4);
}
button.deletebutton:hover {
  background: no-repeat center url("delete_bookmark_hover.svg");
}
button.deletebutton:active {
  background: no-repeat center url("delete_bookmark_active.svg");
}

/* the toolbar */
#toolbar {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 24px;
  background-color: var(--colorTurkese4);
  box-shadow: 0px 2px 3px 0px rgba(100, 100, 100, 0.65), inset 0 0 0px #CADDDD;
}
.toolbartop {
  background-image: linear-gradient(#CDE4E4, #C1D8D8);
  height: 24px;
}
#searchinputfield {
  display: block;
  float: left;
  height: 24px;
  line-height: 24px;  
  width: 1px;
  font-size: 11px;
  font-weight: 400;
  border: 0;
  padding: 0 0 0 5px;
}
#searchinputfield::placeholder {
  color: var(--colorGrey4);
}
#searchshowhidebutton {
  display: block;
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  width: 21px;
  height: 24px;
  line-height: 24px;
  background-color: rgba(186,226,230,0);
  transition: background-color 0.08s ease;
}
button#cleanupbutton {
  display: block;
  float: left;
  border: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 0px;
  width: 21px;
  height: 24px;
  line-height: 24px;
  background-color: rgba(186,226,230,0);
  transition: background-color 0.08s ease;
}
button#cleanupbutton:hover {
  background: no-repeat center var(--colorTurkese2);
}
button#cleanupbutton:active {
  background: no-repeat center var(--colorTurkese1);
}
button#cleanupbutton:hover svg .cls-1 {
  stroke: #000;
}
button#cleanupbutton:hover svg .cls-2 {
  fill: #000;
}
button#cleanupbutton:active svg .cls-1 {
  stroke: var(--colorBlue3);
}
button#cleanupbutton:active svg .cls-2 {
  fill: var(--colorBlue3);
}

button#addbookmark {
  height: 24px;
  line-height: 24px;
  font-size: 11px;
  font-weight: 400;
  color: var(--colorGrey4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  color: var(--colorGrey5);
  transition: background-color 0.28s ease;
}
button#addbookmark:hover {
  color: var(--colorBlack);
  background-color: var(--colorTurkese2);
  transition: background-color 0.08s ease;
}
button#addbookmark:active {
  color: var(--colorBlue4);
  background-color: var(--colorTurkese1);
}

/* searchfield variables */
#toolbar {
  --timeSearchFieldHiding: 0.4s;
}

/* the searchfield is shown, add button is small */
#toolbar.showsearchfield input#searchinputfield {
  animation-name: transition_field_show;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
  width: calc(100% - 112px);
} 
#toolbar.showsearchfield button#searchshowhidebutton {
  background: no-repeat center url("delete_bookmark.svg") #fff;
  animation-name: transition_button_close;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
}
#toolbar.showsearchfield button#searchshowhidebutton:hover {
  background: no-repeat center url("delete_bookmark_hover.svg") #fff;
}
#toolbar.showsearchfield button#searchshowhidebutton:active {
  background: no-repeat center url("delete_bookmark_active.svg") #fff;
}
#toolbar.showsearchfield button#addbookmark {
  width: 70px;
  animation-name: transition_button_add_small;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
}

/* the searchfield is hidden, add button is big */
#toolbar:not(.showsearchfield) input#searchinputfield {
  animation-name: transition_field_hide;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
  width: 1px;
  padding-left: 0px;
  color: transparent;
  background-color: transparent;
}
#toolbar:not(.showsearchfield) button#searchshowhidebutton {
  animation-name: transition_button_search;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
  background: no-repeat center url("search_button.svg") transparent;
}
#toolbar:not(.showsearchfield) button#searchshowhidebutton:hover {
  background: no-repeat center url("search_button_hover.svg") var(--colorTurkese2);
}
#toolbar:not(.showsearchfield) button#searchshowhidebutton:active {
  background: no-repeat center url("search_button_active.svg") var(--colorTurkese1);
}
#toolbar:not(.showsearchfield) button#addbookmark {
  width: calc(100% - 43px);
  animation-name: transition_button_add_large;
  animation-duration: var(--timeSearchFieldHiding);
  animation-timing-function: ease-out;
}
#toolbar:not(.showsearchfield) #searchinputfield::placeholder {
  color: transparent;
}

/* suppress all animations during page load */
body.noanimations * {
  animation-duration: 0s !important;
}

/* searchfield unfolding */
@keyframes transition_button_close {
  0% {
    background: none center var(--colorTurkese1);
  }
  50% {
    background: none center var(--colorTurkese1);
  }
  80% {
    background: none center #fff;
  }
  100% {
    background: no-repeat center url("close_button.svg") #fff;
  }
}
@keyframes transition_field_show {
  0% {
    width: 1px;
    padding-left: 0px;
    background-color: var(--colorTurkese1);
    color: transparent;
  }
  50% {
    padding-left: 5px;
    width: calc(100% - 112px);
    background-color: var(--colorTurkese1);
    color: transparent;
  }
  80% {
    background-color: #FFF;
    color: #3B3B3B;
  }
  100% {
    background-color: #FFF;
  }
}
@keyframes transition_button_add_small {
  0% {
    width: calc(100% - 43px);
  }
  50% {
    width: 70px;
  }
  100% {
    width: 70px;
  }
}

/* searchfield folding */
@keyframes transition_button_search {
  0% {
    background: none center #fff;
  }
  80% {
    background: none center transparent;
  }
  100% {
    background: no-repeat center url("search_button.svg") transparent;
  }
}
@keyframes transition_field_hide {
  0% {
    width: calc(100% - 112px);
    color: transparent;
    background: none #fff;
  }
  80% {
    width: 1px;
    padding-left: 0px;
    background: none transparent;
  }
}
@keyframes transition_button_add_large {
  0% {
    width: 70px;
  }
  80% {
    width: calc(100% - 43px);
  }
}

/* cleanup mode */
.deleteselectedbutton {
  display: inline-block;
  text-align: center;
  width: calc(50% - 6px);
  height: 18px;
  background-color: var(--colorBlue3);
  color: var(--colorGrey0);
  font-size: 11px;
  line-height: 18px;
  margin: 3px 2px 3px 4px;
  border-radius: 3px;
}
.deleteselectedbutton:hover {
  background-color: var(--colorBlue4);
  color: #FFF;
}
.deleteselectedbutton:active {
  background-color: var(--colorBlue5);
  color: #FFF;
}
.cancelcleanupbutton {
  display: inline-block;
  text-align: center;
  width: calc(50% - 6px);
  height: 18px;
  background-color: var(--colorGrey5);
  color: var(--colorGrey0);
  font-size: 11px;
  line-height: 18px;
  margin: 3px 4px 3px 2px;
  border-radius: 3px;
}
.cancelcleanupbutton:hover {
  background-color: var(--colorGrey6);
  color: #FFF;
}
.cancelcleanupbutton:active {
  background-color: var(--colorGrey7);
  color: #FFF;
}
button#selectnonebutton,
button#selectallbutton {
  vertical-align:top;
  width: 42px;
  height: 18px;
  color: var(--colorGrey5);
  font-size: 11px;
  line-height: 16px;
  border-radius: 3px;
  border: solid 1px var(--colorGrey5);
  padding: 0;
  margin: 3px 4px 3px 4px;
  text-align: center;
  text-decoration: none;
  background: none;
  outline: none;
}
button#selectnonebutton:hover,
button#selectallbutton:hover {
  background-color: var(--colorTurkese2);
  color: var(--colorBlack);
  border-color: var(--colorBlack);
}
button#selectnonebutton:active,
button#selectallbutton:active {
  background-color: var(--colorTurkese1);
  color: var(--colorBlue4);
  border-color: var(--colorBlue4);
}
button#selectnonebutton {
  display: none;
}
#selectallornonebutton {
  display: inline-block;
}
#selectallornonebutton.none button#selectnonebutton {
  display: inline-block;
}
#selectallornonebutton.none button#selectallbutton {
  display: none;
}
input[type="checkbox"].cleanupcheckbox {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  position: absolute;
  right: 19px;
  top: 7px;
  width: 17px;
  height: 17px;
  border: solid 1px var(--colorGrey4);
  border-radius: 3px;
  background-color: none;
  opacity: 0;
  z-index: -1;
}
input[type="checkbox"].cleanupcheckbox:hover {
  border-color: var(--colorGrey5);
}
input[type="checkbox"].cleanupcheckbox:active {
  background-color: var(--colorBlue1);
  border-color: var(--colorBlue5);
}
input[type="checkbox"].cleanupcheckbox:checked {
  background: no-repeat center url("checkmark.svg") var(--colorBlue2);
  border: 1px solid var(--colorBlue3);
}
input[type="checkbox"].cleanupcheckbox:checked:hover {
  background: no-repeat center url("checkmark_hover.svg") var(--colorBlue1);
  border: 1px solid var(--colorBlue4);
}
input[type="checkbox"].cleanupcheckbox:active:checked {
  background: no-repeat center url("checkmark_active.svg") var(--colorGrey2);
  border-color: var(--colorGrey5);
}
#content.cleanupmode li.bookmark.selected {
  background-color: var(--colorBlue2);
  border-top: 1px solid var(--colorTurkese2);
  margin-top: -1px;
  height: 39px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--colorTurkese2);
}
#content.cleanupmode li.bookmark.selected > a.link {
  color: var(--colorGrey5);
}
#content.cleanupmode li.bookmark.selected > a.link:hover {
  background-color: var(--colorBlue1);
}
#content.cleanupmode input.cleanupcheckbox {
  opacity: 1;
  z-index: 1;
}
#content.cleanupmode button.deletebutton {
  opacity: 0;
  visibility: hidden;
  transition: all;
  transition-duration: 100ms;
}

/* cleanup animation */
#content.cleanupmode button#cleanupbutton svg > .trashcantop {
  transform-box: fill-box;
  transform-origin: 0px 2px;
  animation: anim-open 0.3s forwards;
  animation-timing-function: ease-out;
} 
@keyframes anim-open {
  0% {
      transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
      transform: translate(0px, -1.8px) rotate(-12deg);
  }
}
#content:not(.cleanupmode) button#cleanupbutton svg > .trashcantop {
  transform-box: fill-box;
  transform-origin: 0px 2px;
  animation: anim-close 0.3s forwards;
  animation-timing-function: ease-out;
}
@keyframes anim-close {
  0% {
    transform: translate(0px, -1.8px) rotate(-12deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

#content #toolbar {
  transition-duration: var(--timeCleanupFold);
  transition-timing-function: ease-in;
  height: 24px;
}
#content.cleanupmode #toolbar {
  height: 48px;
  transition-duration: var(--timeCleanupUnfold);
  transition-timing-function: ease-out;
}
#content ul#bookmarklist {
  transform: translateY(0px);
  transition-delay: 0ms;
  transition-property: transform;
  transition-duration: var(--timeCleanupFold);
  transition-timing-function: ease-in;
}
#content.cleanupmode ul#bookmarklist {
  transform: translateY(24px);
  transition-delay: 0ms;
  transition-property: transform;
  transition-duration: var(--timeCleanupUnfold);
  transition-timing-function: ease-out;
}
#content #cleanupconfirmation {
  z-index: -1;
  opacity: 1;
  transform: translateY(-24px);
  transition: opacity;
  transition-duration: var(--timeCleanupUnfold);
  transition-delay: 0s;
}
#content.cleanupmode #cleanupconfirmation {
  z-index: 1;
  transition-property: opacity;
  transition-delay: var(--timeCleanupUnfold);
  transition-duration: 120ms;
  transform: translateY(0px);
}
button.deleteselectedbutton,
button.cancelcleanupbutton {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 100ms;
  transition-delay: 120ms;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  border: none;
}
#content.cleanupmode .deleteselectedbutton {
  opacity: 1;
  transition-duration: 100ms;
  transition-delay: calc(var(--timeCleanupUnfold) + 40ms);
}
#content.cleanupmode .cancelcleanupbutton {
  opacity: 1;
  transition-duration: 120ms;
  transition-delay: calc(var(--timeCleanupUnfold) + 80ms);
}
button#addbookmark {
  z-index: 1;
  position: relative;
  display: block;
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--timeCleanupFold);
}
#content.cleanupmode button#addbookmark {
  z-index: -1;
  position: absolute;
  opacity: 0;
  transition-duration: 0s;
}
#selectallornonebutton {
  z-index: -1;
  position: absolute;
  opacity: 0;
  float: right;
}
#content.cleanupmode #selectallornonebutton {
  z-index: 1;
  position: relative;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0;
  transition-delay: 0;
}
#cleanupcounter {
  z-index: -1;
  position: absolute;
  height: 24px;
  font-size: 11px;
  line-height: 24px;
  padding: 0 5px 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  opacity: 1;
  width: auto;
  transition-property: width;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: none;
  transition-duration: 0;
}
#content.cleanupmode #cleanupcounter {
  z-index: 1;
  position: relative;
  display: inline-block;
  color: var(--colorGrey5);
  transition-property: all;
  transition-duration: 3s;
  transition-delay: var(--timeSearchFieldHiding);
  max-width: 75px;
  opacity: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  line-height: 24px;
  transition: all;
  transition-duration: 300ms;
}
#content.cleanupmode #toolbar.showsearchfield #cleanupcounter {
  transition-property: none;
  transition-delay: 0s;
  max-width: 20px;
  opacity: 0;
}