@import "themes.css";
@import "bookmarks.css";
@import "toolbar.css";
@import "cleanup.css";

html, body {
height: 100%;
margin: 0;
box-sizing: border-box;
background-color: var(--color-contrast-02);
}
input:focus,
select:focus,
textarea:focus,
button:focus,
a, a:hover, a:active, a:focus {
outline: none;
}

body {
font: caption;
background-color: var(--color-contrast-02);
--timeCleanupUnfold: 0.22s;
--timeCleanupFold: 0.22s;
}

div#content {
background-color: var(--color-contrast-02);
height: 100%;
overflow: hidden;
width: 100%;
border-right: solid 1px var(--color-contrast-06);
}



